footer{
			position:fixed;
			margin-top:2em;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align:center;
			color:white;
			background:rgba(33 , 37 , 41,0.8);
	 	}
		.text-left{
			font-size:15px;
		}
		.contactDetails{
			font-size:12px;
		}
		body{
			background:rgba(0,0,0,0.5) center center;
			background-repeat:no-repeat;
			background-size: 100% 100%;
			background-attachment: fixed; <!-- keeps background image fixed -->
			overflow: hidden;
			width:95%;
		}
		.row .col-sm-4{
			margin-left:2em;
			color:rgb(17, 17, 17); 
			margin-top:10em;
			padding:0px;
			margin-right:0px;
			
		}
		#firstLine{
			font-size:25px;
		}
		#secondLine{
			font-size:50px;
		}
		.navbar.navbar-expand-lg.navbar-light li a{
			color:rgb(253 , 254 , 254);
		}
		.btn-outline-light{
			background:rgba(33 , 37 , 41 , 0.7);	
		}
		.navbar-light .navbar-toggler{
			background: rgba(33 , 37 , 41 , 0.8);
		}	
		.navbar-brand img{
			height:50px;
			width:80px;
		}
		
		.icons a i{
			height:30px;
			width:30px;
			background:white;
			padding-top:7px;
			text-align:center;
			border-radius:50%;
			color:black;
			border: 1px solid black;
		}
		a i:hover{
			transform:rotate(45deg);
			transition:0.4s;
			background:#060606;
			color:red;
			border: 1px solid red;
		}
		#temp{

		}
		#contactHeader{
			font-size:30px;
		}
		
		.contactHeader{
			padding-top:7px;
			font-size:10px;
		}
		
		.row .col-xs-2{
			margin-left:2em;
		}
		
		.contact{
			margin-top:50px;
			color:black;
		}
		
		#profilePic{
			height:200px;
			width:200px;
			border-radius:50%;
			margin-top:12em;
			margin-left:50px;
		}

		.navbar-nav li a::after{
			content: '';
			display: block;
			transition: 0.2s all;
			border-bottom: 2px solid white;
			width:0;
		}
		
		.navbar-nav li a:hover::after{
			width:50px;
		}
		
		